.createAccount {
  display: flex;
  background-color: #18206f;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 15px;
}

.createAccount__info > p {
  font-family: "Roboto-Black";
  font-size: 2em;
  font-weight: 800;
  color: white;
  text-shadow: 5px 5px black;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  background-color: white;
  border-radius: 20px;
  width: 500px;
}

.form__group > input {
  font-size: 1em;
  border: none;
  border-bottom: 2px solid;
  border-color: gray;
  height: 15px;
  -webkit-transition: height 0.35s ease-in-out;
  transition: ease-in-out, height 0.35s ease-in-out;
}

.form__group {
  display: flex;
  flex-direction: column;
  margin-left: 55px;
  margin-right: 55px;
  margin-top: 18px;
}

.form__group > input:focus {
  outline: none;
  height: 25px;
  border-color: #18206f;
}

.form__groupErrors {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #18206f;
  font-size: 0.8em;
}

.form__footer {
  display: flex;
  flex-direction: column;
  margin-left: 55px;
  margin-right: 55px;
  margin-top: 20px;
}

/* Media query for laptops */
@media screen and (min-device-width: 1000px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .form__group > label {
    margin-bottom: 5px;
    font-family: "Roboto-Black";
    font-size: 1.2em;
    color: gray;
    font-weight: 400;
  }

  .form__footer > button {
    width: 140px;
    margin-left: 250px;
    margin-bottom: 25px;
    background-color: #18206f;
    color: white;
    border-radius: 25px;
    height: 30px;
    transition: all 0.5s;
    outline: none;
  }

  .form__footer > button:hover {
    width: 140px;
    margin-left: 250px;
    margin-bottom: #18206f;
    background-color: white;
    color: #18206f;
    border-radius: 25px;
    height: 30px;
    transition: all 0.5s;
    cursor: pointer;
    outline: none;
  }

  .form__footer > p {
    font-family: "Times New Roman", Times, serif;
    padding-bottom: 10px;
  }

  .createAccount__form {
    display: flex;
    flex: 0.5;
    align-items: center;
  }

  .createAccount__info {
    display: flex;
    flex: 0.5;
    align-items: center;
    justify-content: space-evenly;
  }

  .form__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 55px;
    margin-right: 55px;
    font-size: 0.9em;
    font-style: "Roboto-Black";
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

/* Media query for phones */
@media only screen and (min-device-width: 480px) and (max-device-width: 1000px) and (-webkit-min-device-pixel-ratio: 1) {
  .createAccount {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-size: 0.7em;
  }
  .createAccount__info {
    display: flex;
    flex: 0.2;
    align-items: center;
    padding-left: 100px;
  }

  .createAccount__info > img {
    width: 150px;
  }

  .createAccount__form {
    display: flex;
    flex: 0.8;
    align-items: center;
    padding-left: 170px;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  .form__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.7em;
  }

  .form__footer > button {
    width: 120px;
    margin-left: 130px;
    background-color: #18206f;
    color: white;
    border-radius: 25px;
    height: 20px;
    transition: all 0.5s;
    margin-bottom: 10px;
    outline: none;
  }

  .form__footer > button:hover {
    width: 120px;
    margin-left: 130px;
    background-color: white;
    color: #18206f;
    border-radius: 25px;
    height: 20px;
    transition: all 0.5s;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .form__footer > p {
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 10px;
  }
}
