.createAccount {
  display: flex;
  background-color: #18206f;
  width: 100%;
  min-height: 800px;
  max-height: 960px;
}

.createAccount__logoContainer {
  display: flex;
  flex: 0.5;
  align-items: center;
  justify-content: space-evenly;
}

.createAccount__logoContainer > p {
  color: white;
  font-family: "Roboto";
  font-size: larger;
}

.createAccount__formContainer {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  max-height: auto;
  width: 100%;
  border-radius: 20px;
  background-color: white;
  margin-top: 50px;
  margin-right: 150px;
  margin-left: 150px;
  padding-top: 25px;
}

.createAccount__formContainerTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.createAccount__formContainerContent {
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  padding-right: 70px;
}

.form__RowColumn {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: larger;
}

.form__RowColumn > h1,
h2 {
  align-items: center;
}

.form__RowCustom {
  display: flex;
  flex-direction: column;
}

.form__RowCustomContent {
  display: flex;
  justify-content: space-between;
}

.form__RowColumn > label {
  color: gray;
  margin-bottom: 10px;
  font-family: "Roboto-Black";
}

.form__RowColumn > input {
  border: none;
  border-bottom: 1px solid;
}

.form__RowCustomTitle {
  color: gray;
}

.submit__Button {
  padding-left: 150px;
  padding-right: 150px;
}
